<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librarian</title>
    <style>
        body {
align: center;
justify-content: center;
text-align: center;
background-image:url('../images/add.jpg');
}
        .mainDiv{
            background: black;
            padding:8px;
        }
        ul{
            list-style-type:none;
        }
        .main_header_item_list{
            display:inline;
        }
        .main_header_item_list a.hover {
   color: red;
   }
   .main_header_item_list a.active {
   background-color: deepskyblue;
   }
   
        a{
            margin-right:5px;
            padding: 8px;
            text-decoration:none;
            color: white;
            background: green;
        }
   
       </style>
         <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="mainDiv">
        <nav>
             <ul>
                 <li class="main_header_item_list">
                     <a href="/">Logout</a>
                 </li>
                
             </ul>
        </nav>
    </div>
    <div class="wrap">
    <form action="/add-books" method="POST">
        Name: <input   class="textbox" type="text" name="name"/> <br>
        Author: <input   class="textbox" type="text" name="author"/><br>
        InStock:<input class="textbox" type="text" name="inStock"/><br>
        <button class="button" type="submit">Add</button>
        </form>
        <br><br>
        </div>
        <% if(book.length>0){%>
   
            <div>
             <% for(books of book){%>
              <div>
                  <ul>
                 <li> <h2><%= books.name%>  <h3><%= books.author%></h3> </h2>  <a href="/book-detail/<%=books.id%>"><button>Details</button></a> <a href="/book-detail-update/<%=books._id%>""><button>Update</button></a> <a href="/delete/<%=books.id%>"><button>Delete</button></a></li>  
                 </ul>
              </div>
              
             <% }  %>
            </div>
            <% }else{ %>
           <h2> No product found!</h2>
             <% }%>
</body>
</html>